.cell {
  margin: 0;
  padding: 0;
  background: black;
  /* border: solid rgba(255, 255, 255, 0.25) 1px; */
}

.state-0 {
  background: black;
}

.state-1 {
  background: white;
}

.state-2 {
  background: blue;
}
